# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Python Environment Variables
# -----------------------------
.env

# -----------------------------
# Trained Models (Later)
# -----------------------------
*.pt
*.pth
*.h5

# -----------------------------
# Logs
# -----------------------------
*.log